:root {
	--pal-base: #4f5b93;
}

html {
	font-size: 24px;
}

body {
	margin: 0;
	padding-top: 4rem;
	font-family: sans-serif;
}

h1,p {
	text-align: center;
}

ul {
	max-width: 32rem;
	margin: 0 auto;
	padding: 1rem;
	list-style-type: none;
	border: 0.1rem solid var(--pal-base);
	border-radius: 0.5rem;

	li {
		padding: 0.5rem 0;

		button[value=save] {
			display: none;
		}
		button[value=delete] {
			display: none;
		}

		label {
			&:first-of-type {
				display: flex;
				justify-content: center;
				width: 2rem;
			}
		}

		&.new {
			input[type=checkbox] {
				display: none;
			}
			input[name=title] {
				background-color: color-mix(in srgb, var(--pal-base), white 95%);
				border: 0.1rem solid var(--pal-base);
			}
			button[value=save] {
				display: initial;
			}
			button[value=delete] {
				display: none;
			}

			form:focus-within {
				button[value=delete] {
					display: none;
				}
			}
		}

		&.completed {
			input[name=title] {
				text-decoration: line-through;
			}
		}
		form {
			display: flex;
			justify-content: stretch;
			align-items: stretch;
			gap: 0.5rem;
			accent-color: var(--pal-base);

			&:focus-within {
				button[value=delete] {
					display: initial;
				}
			}

			label:nth-of-type(1) {
				display: flex;
				align-items: center;
			}
			label:nth-of-type(2) {
				flex-grow: 1;
			}

			input[name=title] {
				box-sizing: border-box;
				width: 100%;
				padding: 0.5rem;
				font-size: 1rem;
				border: none;
				border-radius: 0.5rem;
			}

			button {
				margin-left: 1rem;
				width: 4rem;
				border: 0.1rem solid var(--pal-base);
				border-radius: 0.5rem;
			}
		}
	}
}

input,button {
	outline-offset: 0.1rem;

	&:active, &:focus {
		outline: 0.1rem solid var(--pal-base);
	}
}
